@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Strona główna</h1>
    <h5>E-niania</h5>
    <p>Serwis przeznaczony do publikowania treści dotyczących usług opieki nad dziećmi.</p>
    
    @*Zrobic ladne przyciski*@
    <button>Jestem rodzicem</button>
    <button>Jestem nianią</button>
</div>
