@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="h1-logo">E-niania</h1>
    <p style="font-size:150%;">Serwis przeznaczony do publikowania treści dotyczących usług opieki nad dziećmi.</p>
    
    <div class="button-container">
        <button class="main-button">
            <p>Jestem</p>
            <p>rodzicem</p>
        </button> @*przekierowanie do ogloszen*@
        <button class="main-button">
            <p>Jestem</p>
            <p>nianią</p>
        </button> @*przekierowanie do dodawania ogloszenia*@
    </div>
</div>
